basePath: /api/v1
definitions:
  handlers.CreateMessageRequest:
    type: object
  handlers.enqueueResponse:
    properties:
      requestId:
        example: req_123
        type: string
      status:
        example: queued
        type: string
    type: object
  handlers.errorResponse:
    properties:
      error:
        example: validation failed
        type: string
    type: object
  handlers.livenessResponse:
    properties:
      service:
        example: notifications-app
        type: string
      status:
        example: ok
        type: string
    type: object
  handlers.readinessResponse:
    properties:
      dependencies:
        additionalProperties:
          type: string
        type: object
      status:
        example: OK
        type: string
    type: object
  handlers.templateGetResponse:
    properties:
      channel:
        type: string
      content:
        type: string
      id:
        type: string
      mimeType:
        type: string
    type: object
  handlers.templateListResponse:
    properties:
      templates:
        items:
          $ref: '#/definitions/handlers.templateSummary'
        type: array
    type: object
  handlers.templateSummary:
    properties:
      channel:
        example: email
        type: string
      id:
        example: payment_success
        type: string
    type: object
host: notifications.codevertexitsolutions.com
info:
  contact: {}
  description: HTTP API for the BengoBox notifications service.
  title: Notifications Service API
  version: 0.1.0
paths:
  /{tenantId}/notifications/messages:
    post:
      consumes:
      - application/json
      description: Accepts a notification payload and queues it for downstream processing.
      parameters:
      - description: Tenant identifier
        in: path
        name: tenantId
        required: true
        type: string
      - description: Message payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handlers.CreateMessageRequest'
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/handlers.enqueueResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.errorResponse'
      security:
      - ApiKeyAuth: []
      summary: Queue notification message
      tags:
      - Notifications
  /{tenantId}/templates:
    get:
      description: Returns the default set of notification templates available to
        the tenant.
      parameters:
      - description: Tenant identifier
        in: path
        name: tenantId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.templateListResponse'
      security:
      - ApiKeyAuth: []
      summary: List notification templates
      tags:
      - Templates
  /{tenantId}/templates/{id}:
    get:
      description: Returns the raw template content for preview or client-side rendering.
      parameters:
      - description: Tenant identifier
        in: path
        name: tenantId
        required: true
        type: string
      - description: Template identifier
        in: path
        name: id
        required: true
        type: string
      - description: Channel (email|sms|push)
        in: query
        name: channel
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.templateGetResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handlers.errorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get template content
      tags:
      - Templates
  /healthz:
    get:
      description: Returns OK when the API process is running.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.livenessResponse'
      summary: Service liveness probe
      tags:
      - Health
  /metrics:
    get:
      description: Exposes Prometheus metrics for scraping.
      produces:
      - text/plain
      responses:
        "200":
          description: Prometheus metrics payload
          schema:
            type: string
      summary: Prometheus metrics
      tags:
      - Health
  /readyz:
    get:
      description: Validates connectivity to Postgres, Redis, and NATS (when configured).
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.readinessResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/handlers.readinessResponse'
      summary: Readiness probe
      tags:
      - Health
schemes:
- http
- https
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
  bearerAuth:
    description: 'JWT token from auth-service. Format: Bearer {token}'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
