{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "HTTP API for the BengoBox notifications service.",
        "title": "Notifications Service API",
        "contact": {},
        "version": "0.1.0"
    },
    "host": "notifications.codevrtexitsolutions.com",
    "basePath": "/api/v1",
    "paths": {
        "/healthz": {
            "get": {
                "description": "Returns OK when the API process is running.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Health"
                ],
                "summary": "Service liveness probe",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.livenessResponse"
                        }
                    }
                }
            }
        },
        "/metrics": {
            "get": {
                "description": "Exposes Prometheus metrics for scraping.",
                "produces": [
                    "text/plain"
                ],
                "tags": [
                    "Health"
                ],
                "summary": "Prometheus metrics",
                "responses": {
                    "200": {
                        "description": "Prometheus metrics payload",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/readyz": {
            "get": {
                "description": "Validates connectivity to Postgres, Redis, and NATS (when configured).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Health"
                ],
                "summary": "Readiness probe",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.readinessResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.readinessResponse"
                        }
                    }
                }
            }
        },
        "/analytics/delivery/{tenantId}": {
            "get": {
                "security": [
                    { "bearerAuth": [] },
                    { "ApiKeyAuth": [] }
                ],
                "description": "Returns delivery statistics for the tenant. Query: range (e.g. 24h, 7d). Stub implementation; implement with real data when analytics store exists.",
                "produces": ["application/json"],
                "tags": ["Analytics"],
                "summary": "Delivery analytics",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Tenant identifier",
                        "name": "tenantId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Time range (e.g. 24h, 7d)",
                        "name": "range",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/deliveryStatsResponse" }
                    }
                }
            }
        },
        "/{tenantId}/notifications/messages": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Accepts a notification payload and queues it for downstream processing.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notifications"
                ],
                "summary": "Queue notification message",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Tenant identifier",
                        "name": "tenantId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Message payload",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.CreateMessageRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.enqueueResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.errorResponse"
                        }
                    }
                }
            }
        },
        "/{tenantId}/templates": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Returns the default set of notification templates available to the tenant.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Templates"
                ],
                "summary": "List notification templates",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Tenant identifier",
                        "name": "tenantId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.templateListResponse"
                        }
                    }
                }
            }
        },
        "/{tenantId}/templates/{id}": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Returns the raw template content for preview or client-side rendering.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Templates"
                ],
                "summary": "Get template content",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Tenant identifier",
                        "name": "tenantId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Template identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Channel (email|sms|push)",
                        "name": "channel",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.templateGetResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_http_handlers.errorResponse"
                        }
                    }
                }
            }
        },
        "/platform/providers": {
            "get": {
                "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
                "description": "List all platform notification providers (no tenant filter). Platform admin sees all configs.",
                "produces": ["application/json"],
                "tags": ["Platform"],
                "summary": "List platform providers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/platformProvidersResponse" }
                    }
                }
            },
            "post": {
                "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
                "description": "Create or replace a platform provider (Email: SMTP/SendGrid; SMS: Africa's Talking). Secrets stored encrypted at rest when ENCRYPTION_KEY is set.",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "tags": ["Platform"],
                "summary": "Configure platform provider",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "schema": { "$ref": "#/definitions/configureProviderRequest" }
                }],
                "responses": {
                    "201": { "description": "Created" },
                    "400": { "schema": { "$ref": "#/definitions/internal_http_handlers.errorResponse" } }
                }
            }
        },
        "/platform/providers/{id}/test": {
            "post": {
                "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
                "description": "Send a test message via the provider. Body: {\"to\": \"email@example.com\"} or {\"to\": \"+254700000000\"}.",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "tags": ["Platform"],
                "summary": "Test provider connection",
                "parameters": [
                    { "type": "integer", "name": "id", "in": "path", "required": true, "description": "Provider config ID" },
                    { "name": "body", "in": "body", "schema": { "$ref": "#/definitions/testProviderRequest" } }
                ],
                "responses": {
                    "200": { "description": "Test sent or skipped", "schema": { "$ref": "#/definitions/testProviderResponse" } },
                    "400": { "description": "Bad request or test failed", "schema": { "$ref": "#/definitions/testProviderResponse" } },
                    "404": { "schema": { "$ref": "#/definitions/internal_http_handlers.errorResponse" } }
                }
            }
        },
        "/platform/providers/{id}": {
            "patch": {
                "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
                "description": "Update platform provider settings or active state.",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "tags": ["Platform"],
                "summary": "Update platform provider",
                "parameters": [
                    { "type": "integer", "name": "id", "in": "path", "required": true },
                    { "name": "body", "in": "body", "schema": { "type": "object", "properties": { "is_active": { "type": "boolean" }, "settings": { "type": "object" } } } }
                ],
                "responses": { "200": { "description": "OK" }, "404": { "schema": { "$ref": "#/definitions/internal_http_handlers.errorResponse" } } }
            },
            "delete": {
                "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
                "description": "Deactivate platform provider.",
                "tags": ["Platform"],
                "summary": "Deactivate platform provider",
                "parameters": [ { "type": "integer", "name": "id", "in": "path", "required": true } ],
                "responses": { "200": { "description": "OK" }, "404": { "schema": { "$ref": "#/definitions/internal_http_handlers.errorResponse" } } }
            }
        }
    },
    "definitions": {
        "platformProvidersResponse": {
            "type": "object",
            "properties": { "providers": { "type": "array", "items": { "$ref": "#/definitions/providerResponse" } } }
        },
        "providerResponse": {
            "type": "object",
            "properties": { "id": { "type": "integer" }, "provider_type": { "type": "string" }, "provider_name": { "type": "string" }, "is_active": { "type": "boolean" }, "status": { "type": "string" } }
        },
        "configureProviderRequest": {
            "type": "object",
            "properties": { "provider_type": { "type": "string", "example": "email" }, "provider_name": { "type": "string", "example": "sendgrid" }, "settings": { "type": "object", "additionalProperties": { "type": "string" } } },
            "required": ["provider_type", "provider_name"]
        },
        "testProviderRequest": { "type": "object", "properties": { "to": { "type": "string", "description": "Email or phone for test message" } } },
        "testProviderResponse": { "type": "object", "properties": { "success": { "type": "boolean" }, "message": { "type": "string" }, "error": { "type": "string" } } },
        "deliveryStatsResponse": {
            "type": "object",
            "properties": {
                "totalSent": { "type": "integer", "description": "Total messages sent" },
                "deliveryRate": { "type": "number", "description": "Delivery rate 0-1" },
                "errorRate": { "type": "number", "description": "Error rate 0-1" },
                "channelBreakdown": { "type": "object", "additionalProperties": { "type": "integer" } },
                "timeSeries": {
                    "type": "array",
                    "items": { "type": "object", "properties": { "date": { "type": "string" }, "sent": { "type": "integer" }, "delivered": { "type": "integer" } } }
                }
            }
        },
        "internal_http_handlers.CreateMessageRequest": {
            "type": "object"
        },
        "internal_http_handlers.enqueueResponse": {
            "type": "object",
            "properties": {
                "requestId": {
                    "type": "string",
                    "example": "req_123"
                },
                "status": {
                    "type": "string",
                    "example": "queued"
                }
            }
        },
        "internal_http_handlers.errorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "example": "validation failed"
                }
            }
        },
        "internal_http_handlers.livenessResponse": {
            "type": "object",
            "properties": {
                "service": {
                    "type": "string",
                    "example": "notifications-api"
                },
                "status": {
                    "type": "string",
                    "example": "ok"
                }
            }
        },
        "internal_http_handlers.readinessResponse": {
            "type": "object",
            "properties": {
                "dependencies": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "status": {
                    "type": "string",
                    "example": "OK"
                }
            }
        },
        "internal_http_handlers.templateGetResponse": {
            "type": "object",
            "properties": {
                "channel": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                }
            }
        },
        "internal_http_handlers.templateListResponse": {
            "type": "object",
            "properties": {
                "templates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/internal_http_handlers.templateSummary"
                    }
                }
            }
        },
        "internal_http_handlers.templateSummary": {
            "type": "object",
            "properties": {
                "channel": {
                    "type": "string",
                    "example": "email"
                },
                "id": {
                    "type": "string",
                    "example": "payment_success"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "X-API-Key",
            "in": "header"
        },
        "bearerAuth": {
            "description": "JWT token from auth-service. Format: Bearer {token}",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}